
@font-face {
    font-family: 'merriweatheritalic';
    src: url('../fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('../fonts/merriweather-lightit-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherregular';
    src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherultrabold_italic';
    src: url('../fonts/merriweather-ultrabdit-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-ultrabdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweather_lightregular';
    src: url('../fonts/merriweather_light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherultrabold';
    src: url('../fonts/merriweather_ultrabold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather_ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('../fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('../fonts/brandon_reg_it-webfont.woff2') format('woff2'),
         url('../fonts/brandon_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







* {outline: none; box-sizing: border-box;}
a {text-decoration: none; cursor: pointer;}
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
body, html {height: 100%;}
input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}

/* Common Classes */
.wid100 {width:100%; float: left; }
.fleft {float: left;}
.fright {float: right;}
.listn {list-style: none; margin: 0; padding: 0;}
.defimg {width: 100%; height: auto;}
.defimg2 {width: auto; height: auto;}
.coverimg {width: 100%; height: 100%; object-fit: cover;}
.containimg {width: 100%; height: 100%; object-fit: contain;}
.pagewrapper {width: 100%;  margin: 0 auto; max-width: 1366px; padding: 0 25px;}
.pagewrapper2 {width: 100%; margin: 0 auto; max-width: 990px;}
img {@extend .defimg}
.close {width: 35px; height: 35px; background: url(../images/iconset1.png) no-repeat right -35px; position: absolute; right: 10px; top: 10px;}
.pad-0 { padding: 0px;}

/* Colors & Fonts */
$fontmain: 'brandon_grotesqueregular', Arial, sans-serif;
$fonthead: 'merriweatherregular', Arial, sans-serif;
$fontmed: 'brandon_grotesquemedium';
$fonthead2: 'merriweatherbold';

/* Colors */

$gray : #ccc;
$white : #fff;
$yellow : #d3d962;
$black: #000;
$green : #939b00;
$gold : #a1a81c;
$darkgray : #676767;
$yel-orange : #f7ae38;
$darkgreen : #a0a534;


#header { position: relative;top: 0; width: 100%; z-index: 999;}

.navbar-header { float: none; height: 91px; border-bottom: 1px solid #ececec;}

.nav-logo { margin: 0 auto;  margin-top: 15px; max-width: 185px;

    img { width: 100%; object-fit: contain;}

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0px; border-color: none;}

.nav-custom {     box-shadow: 0px 2px 9px #c7c6be; 

    .navbar-nav { max-width: 1024px; margin: 0 auto; float: none;
        > li {
            > a { font-family: $fontmed; color: $black; text-transform: uppercase; font-size: 16px; padding: 14px 17px;}
            
            a:hover, a:active, a:focus { background : transparent;}
        }
    }
}

.dropdown-menu { 
    li a { font-family: "brandon_grotesquemedium"; color: #000; text-transform: uppercase; font-size: 16px;}
}

.navbar { margin-bottom: 0px;}



.social-media { position: absolute; top: 35px; left: 36px;
    ul { padding: 0px; margin: 0px;
        li { display: inline-block; margin-right: 25px;
            a i { font-size: 28px; color: #7f7f7f;}
        }
    }
}


.cntct { position: absolute; top: 35px; right: 36px;
    a { padding: 14px 22px; background: #9ba12e; color: $white; text-transform: uppercase; font-size: 16px; text-decoration: none; font-family: $fontmed; border-radius: 3px;}
}





.slider-banner {
    .home-carousel { position: relative;
        aside { height: 90vh; 
            img { height: 100%; object-fit: cover;}
        }
        article { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 40px 48px; background: rgba(247, 174, 56, 0.8); text-align: center;
            h2 { font-family: 'merriweatherbold'; font-size: 72px; color: $white; }
        }
    }


    .home-carousel .owl-dots { display: none;}

    .home-carousel .owl-nav { display: block; position: absolute; top: 50%; width: 100%; left: 0;}

    .home-carousel .owl-nav .owl-prev { color: #FFF;
        font-size: 40px;
        margin: 0px;
        padding: 4px 13px;
        background: rgba( 89, 97, 93, 0.7);
        display: inline-block;
        cursor: pointer;
        position: absolute;
        left: 0;
        border-radius: 0px;
    }

    .home-carousel .owl-nav .owl-next { color: #FFF; 
        font-size: 40px; 
        margin: 0px; 
        padding: 4px 13px; 
        background: rgba( 89, 97, 93, 0.7); 
        display: inline-block; 
        cursor: pointer; 
        position: absolute; 
        right: 0; 
        border-radius: 0px;
    }

}



.property-listing { padding: 40px 0px;
    div.txt-mid { text-align: center; max-width: 819px; margin: 0 auto; padding: 0px 15px; margin-bottom: 40px;
        h3 { font-family: $fonthead; font-size: 28px; color: $black; margin-bottom: 17px;}
        p { font-family: $fontmain; font-size: 20px; color: $black; letter-spacing: 2px;}
    }
    ul.item_hldr { 
        > li { width: 24.5%; display: inline-block; padding: 0px 15px;

            .bx-shdw { padding: 11px 0px 0px;}

            h4 { font-family: $fonthead2; color: $gold; margin-bottom: 6px;  padding-left: 15px;}
            h5 { font-family: $fontmed; font-size: 14px; color: $darkgray; margin-bottom: 11px; padding-left: 15px;
                span { text-transform: uppercase; padding-right: 7px; margin-right: 10px; border-right: 1px solid #8d8d8d}
            }
            aside { margin-bottom: 20px; height: 188px; 
                img { width: 100%; height: 100%; object-fit: cover;}
            }
            p { font-family: $fontmain; font-size: 16px; font-color: $darkgray;}

            article { padding: 0px 15px;}
        }

        li:hover .bx-shdw { box-shadow: 0px 0px 20px #e8e8e8;}

        li:hover .list-btm ul { box-shadow: 0px 5px 0px #c6ce1f;}

        .span-list { padding-bottom: 14px; margin-top: 30px;

            li { width: 49%; display: inline-block;

                span.size {background-image: url(../images/ruler.png); background-repeat: no-repeat; padding-left: 35px; background-size: contain; }

                span.bed { background-image: url(../images/bed.png); background-repeat: no-repeat; padding-left: 45px; background-size: 30px;}

                span.tb { background-image: url(../images/hottub.png); background-repeat: no-repeat; padding-left: 35px; background-size: contain;}

                span.garage { background-image: url(../images/home.png); background-repeat: no-repeat; padding-left: 45px; background-size: contain; background-position: 5px;}

            }

        }

        .list-btm { width:100%;  background: url(../images/divide.jpg) repeat-y center top; background-size: 100% auto;

            ul { width: 100%; float: left; list-style: none; margin: 0; padding: 0; text-align: center; box-shadow: 0px 5px 0px #dddddd; transition: 0.5s;
                li { width: 49%; display: inline-table; padding: 14px;
                    h6 { font-family:'brandon_grotesquebold'; color: $yel-orange; font-size: 18px;}

                    a { font-family: 'brandon_grotesquebold'; text-transform: uppercase;  color: $black; text-decoration: none;
                        i{ color: $black;  font-size: 18px; margin-left: 6px;}
                    }

                }
            }
                
        }


    }

    a.vm-prop {  font-family: 'brandon_grotesquebold'; text-transform: uppercase; color: #a0a534; font-size: 24px; text-decoration: none; padding: 10px 25px; border: 3px solid #a0a534; width: 100%; display: block; max-width: 310px; text-align: center; margin: 0 auto; margin-top: 50px; transition: 0.5s;}

    a:hover { background: $darkgreen; color: $white;}   
}



.testimonials { background-color: #585858; background-image: url(../images/quote1.png), url(../images/quote2.png);  background-repeat: no-repeat; background-position: left top, right bottom; background-size: 10% auto, 10% auto; padding: 50px 0px;

    div.txt-mid{ text-align: center;
        h3 { text-transform: uppercase; font-family: $fonthead; font-size: 28px; color: #aaaaaa; letter-spacing: 2px; position: relative; padding-bottom: 25px; margin-bottom: 20px; }

        h3:after { position: absolute; content: ''; background: #efdf9d; width: 84px; height: 7px; bottom: 0; left: 50%; transform: translate(-50%, -50%);}
    }

    .tstimnial {
        aside { max-width: 204px; width: 100%; height: 204px; float: left; padding-top: 15px;
            img{ width: 100%; height: 100%; object-fit: contain;}
        }

        article { padding-left: 245px;
            p { font-family: 'brandon_grotesqueRgIt'; font-size: 30px; letter-spacing: 1px; color: $white; padding-top: 15px; line-height: 35px;
            margin-bottom: 33px;}

            h5 { font-family: $fontmed; font-size: 22px; color: $white; letter-spacing: 1px; margin-bottom: 15px;}

            h4{ text-transform:  uppercase; font-family: 'brandon_grotesquebold'; font-size: 22px; color: $white; float: left;}

            .clearfix { 
                a{ float: right; font-family: $fontmain; font-size: 22px; color: $white; border-bottom: 1px solid $white; text-decoration: none; margin-top: -7px;}
            }
        }
    }

    .testimonial-carousel { max-width: 1024px; margin: 0 auto; padding: 0px 15px; box-sizing: border-box;}
}



.news { background: #faf5e0; padding: 40px 0px;
    .txt-mid { width: 100%; position: relative; text-align: center; margin-bottom: 35px;
        h3  { font-family: $fonthead; font-size: 28px;}
    }

    .news-hldr { max-width: 425px; width: 100%; overflow: hidden;
        aside { height: 285px; transition: ease-in 0.5s;
            img { height: 100%; width: 100%; object-fit: cover; }
        }

        article { background: $white; padding: 30px 20px;

            h5{ font-family: 'merriweatherbold'; font-size: 23px; text-transform: uppercase; margin-bottom: 10px;  color: $darkgreen;}

            h6 {  font-size: 19px; font-family: $fontmed; color: #676767; margin-bottom: 25px; text-transform: uppercase;
                span { border-left: 1px solid; margin: 0; padding: 0; margin-left: 10px; padding-left: 10px;}
            }

            p { font-family: $fontmain; color: $black; font-size: 23px; line-height: 25px; margin-bottom: 20px;}

            a.rm-news{ border: 3px solid #464646; padding: 10px 16px; font-family: 'brandon_grotesquebold'; text-transform: uppercase; color: $black; text-decoration: none; display: block; max-width: 130px; text-align: center; width: 100%;}
        }
    }

    .news-hldr:hover aside{ -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}


    .news-carousel .owl-nav.disabled{ display: block!important;}

    .news-carousel .owl-nav { position: absolute; top: 0; width: 100%; top: -75px;}

    .news-carousel .owl-nav .owl-prev { position: absolute; left: 85%; background: transparent; color: $black; font-size: 30px; margin: 0;}

    .news-carousel .owl-nav .owl-next { position: absolute; left: 89%; background: transparent; color: $black; font-size: 30px; margin: 0;}

}


.featured { padding: 75px 0px;
    h3 { font-size: 28px; font-family: $fonthead; color: $black; margin-bottom: 100px;}

    .ftrd-hldr {
        > article{ float: left; width: 65%;}
    
        > aside{ float: right; width: 33%; margin-top: -71px;}
    }

    .feat-arti { padding: 0px; list-style-type: none;
        > li { background: #f7f7f7; padding: 26px 21px; margin-bottom: 14px;

            > aside { max-width: 270px; height: 180px; float: left;
                > img { width: 100%; height: 100%; object-fit: cover;}
            }

            > article { padding-left: 295px; padding-top: 9px;
                h4 { font-family: $fonthead; font-size: 18px; color: $black; margin-bottom: 10px;}

                span { color: $darkgray; font-family: $fontmain; margin-bottom: 11px; display: block;}

                p { font-size: 18px; font-family: $fontmain; color: $black; line-height: 23px;
                    a { text-decoration: underline; font-family: 'brandon_grotesquebold'; color: $black; text-transform: uppercase; }
                }

            }
        }
    }

    a.rm-articles { font-family: 'brandon_grotesquebold'; font-size: 20px; text-transform: uppercase; color: #000; text-decoration: none; display: block; max-width: 240px; width: 100%; text-align: center; border: 3px solid #464646; padding: 10px 0px; margin: 0 auto; margin-top: 30px; transition: ease-out 0.5s; 
    }

    a.rm-articles:hover{ background: #464646; color: $white; }

}




.agents { background: #faf5e0; padding: 35px 0px;
    .mid-txt { text-align: center;

        h3{ font-family: $fonthead; font-size: 28px; color: $black; text-transform: uppercase; margin-bottom:20px;}

        p {  font-size: 20px; font-family: $fontmain; color: $black; letter-spacing: 1px; margin-bottom: 25px;}
    }

    ul { padding: 0px; margin: 0px; list-style-type: none; margin-bottom: 35px;
        > li { width: 33%; display: inline-block; border-right: 1px solid #d3cfbe; padding-left: 44px;
            > aside { width: 100%; max-width: 122px; height: 122px; float: left;}

            > article { padding-left: 139px;

                h5 { font-family: $fonthead; font-size: 20px; color: $black; position: relative; padding-bottom: 15px; margin-bottom: 10px;}

                h5:after { position: absolute; content: ''; background: #d3d962; width: 71px; height: 4px; left: 0; bottom: 0;}

                h6 { font-family: 'brandon_grotesquebold'; color: $black; font-size: 18px; text-transform: uppercase; margin-bottom: 17px;}

                > a { text-transform: uppercase; color: #56544c; display: block; border: 2px solid #8f8d82; max-width: 150px; padding: 11px 0px; font-family: 'brandon_grotesquebold'; text-align: center; text-decoration: none;
                    > i { margin-right: 7px;}
                }
             }
        }

        li:last-child { border-right: 0px;}
    }

    a.fm-agents { font-family: 'brandon_grotesquebold'; font-size: 20px; text-transform: uppercase; color: $black; text-decoration: none; border: 3px solid #464646; padding: 10px 0px; display: block; max-width: 240px; text-align: center; margin: 0 auto;}

}











.property-finder { background: #fff1cb; padding: 0px 50px; z-index: 2;
    .container-cs{ 
        h4 { font-family: $fonthead; font-size: 24px; color: $green; display: inline-block; max-width: 20%; width: 100%;}

        > ul { list-style-type: none; padding: 8px 0px; margin: 0; max-width: 78%; width: 100%; background: #ffedbf; display: inline-block;

            > li { display: inline-block;  padding: 0px 50px; 

                label { font-family: $fontmain;margin: 0px;text-transform: uppercase; margin-right: 25px}

                select {     background-color: transparent; max-width: 180px; width: 100%; font-family: "brandon_grotesqueregular", Arial, sans-serif; background-image: url(../images/arrow-down.png); background-repeat: no-repeat; background-position: right; height: 30px; }

                button { background-color: $darkgreen; padding: 10px 19px; font-size: 23.66px; font-family: $fontmain; text-transform: uppercase; color: $white;}
            }

            li:first-child, li:nth-child(2) { width: 40%;}
            li:last-child { width: 18%; }
        }

    }

}



.slcted-location {
    
    .location-banner { background-image: url(../images/cavite-banner.jpg); background-size: cover; height: 70vh; position: relative;

        > .hero { max-width: 975px; padding: 0px 15px; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%;

            h3 { font-size: 36px; font-family: $fonthead; color: $white; text-transform: uppercase; margin-bottom: 45px;}

            p { font-family: $fontmed; font-size: 20px; color: $white; letter-spacing: 1px;}
        }

    }

    .property-listing { text-align: center;
        
        .item_hldr { margin-bottom: 65px;
            > li { width: 33%; margin-bottom: 35px;}

            .span-list { text-align: left;}
        }
        
    }



    .property-finder { position: absolute; top: 142px; width: 100%; z-index: 2;}

}



.news-events {
    > .news-banner { background-image: url(../images/news-banner.jpg); background-size: cover; height: 70vh; position: relative;

        .hero { max-width: 975px; padding: 0px 15px; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%;

            h3 { font-size: 36px; font-family: $fonthead; color: $white; text-transform: uppercase; margin-bottom: 45px;}

            p { font-family: $fontmed; font-size: 20px; color: $white; letter-spacing: 1px;}
        }

    }

    .property-finder { position: absolute; top: 142px; width: 100%;}

    .news { background: $white;
        ul.ne-list { margin-bottom: 65px; 
            li { width: 33%; display: inline-block; padding: 0px 15px; margin-bottom: 35px;}
        }

        .news-hldr article { background: #f8f8f8;}
    }
}


.prop-details{

    .prop-banner { background-image: url(../images/prop-banner.jpg); height: 90vh; background-size: cover; background-position: center;  background-repeat: no-repeat;
        .hero { position: absolute; top: 55%; text-align: center; left: 50%;  transform: translate(-50%, -50%);

            > h3 { font-family: $fonthead; letter-spacing: 1px; font-size: 36px; color: $white; margin-bottom: 20px;}

            > h5 { font-family: $fontmain; font-size:24px; color: $white; text-transform: uppercase; margin-bottom: 35px; padding-bottom: 35px; position: relative; }

            h5::after { position: absolute; content: ''; width: 65px; height: 6px; background: #efdf9d; left: 50%; bottom: 0; transform: translate(-50%, -50%); }

            h4 { font-family: $fonthead; color: $white; font-size: 24px;
                span { display: block; margin-bottom: 20px;}
            }
        }
    }

    .property-finder { position: absolute; top: 142px; width: 100%; z-index: 2;}

    .property-hldr { padding:50px 0px; 
        .prprty-hldr{
            > article { width: 65%; float: left; }

            > aside { width: 33%; float: right; }

            .masterplan { margin-bottom: 30px;
                article { width: 75%; float: left; padding-right: 15px;
                    h3 { font-size: 24px; font-family: $fonthead; position: relative; max-width: 420px; margin-bottom: 30px;}

                    h3::after { position: absolute; content: ''; background: #f7ae38; width: 110px; height: 12px; right: 0; top: 7px; }

                    p { font-family: $fontmain; font-size: 18px; color: $black;
                    span { font-family: 'brandon_grotesquebold'; color: $black; display: block;  margin-top: 40px; }
                    }
                }
                

                > aside { float: right; width: 100%; max-width: 210px; height: 280px;
                    img { object-fit: cover; height: 100%;}
                }
            }
        }

        .gallery{ 
            > h3 { font-family: $fonthead; font-size: 24px; color: $black; margin-bottom: 30px; position: relative; max-width: 245px; text-transform: uppercase;}

            h3::after { position: absolute; content: ''; width: 110px; height: 12px; background : #f7ae38; right: 0; top: 6px;}

            .gallery-carousel{
                padding: 0px 50px; position: relative; display: block !important; 
            }
            .gallery-carousel .owl-nav{ display: block; position: absolute; top: 45%; width: 100%; left: 0;
                [class*=owl-] { background: transparent; color: $black; font-size: 40px; margin: 0;}
                .owl-prev { left: 0; position: absolute;}
                .owl-next { right: 0; position: absolute;}
            }
            .gallery-carousel .owl-dots { display: none;}

            

            .item-gallery { position: relative;

                article { position: absolute; padding: 23px 35px;  background: rgba(34 , 34, 34, 0.5); bottom: 0; width: 100%;
                    
                    h4 { color: #9ba12e; font-family: $fonthead; font-size: 20px; margin-bottom: 15px;}

                    p { font-family: 'brandon_grotesqueRgIt'; color: $white; font-size: 18px;}
                }
            }
        }

        .nearby { padding: 50px 0px;

            h3{ font-family: $fonthead; color: $black; text-transform: uppercase; font-size: 24px; position: relative; max-width: 465px; margin-bottom: 30px;}

            h3::after { position: absolute; content: ''; height: 12px; width: 110px; background: #f7ae38; right: 0; top: 6px;}

            p { font-family: $fontmain; color: $darkgray; font-size: 18px; margin-bottom: 25px;}

            .nearby-list {
                > li { width: 33%; display: inline-block; padding: 0 15px; margin-bottom: 25px;
                    > figure { max-width: 268px; height: 167px; margin: 0 auto; 
                        img { width: 100%; height: 100%; object-fit: cover;}
                     }
                }
            }

        }

        .updates {
            h3 { font-family: $fonthead; font-size: 24px; color: $black; position: relative; text-transform: uppercase; max-width: 445px; margin-bottom: 30px;}

            h3:after {position: absolute; content: ''; height: 12px; width: 110px; background: #f7ae38; right: 0; top: 6px;
            }

            .cons-list { 
                > li { width: 33%; display: inline-block; padding: 0px 15px;
                    > figure { max-width: 267px; width: 100%; height: 167px; margin: 0 auto; margin-bottom: 15px;
                        img { height: 100%; object-fit: cover;}
                    }

                    > figcaption { text-align: center;
                        h5 { font-family: $fonthead; font-weight: bold; text-transform: uppercase;}
                    }
                }
            }

        }

        .details { margin-bottom: 45px;
            > h3 { font-family: $fonthead; font-size: 24px; color: $black; position: relative; text-transform: uppercase; max-width: 370px; margin-bottom: 17px;}

            > h3::after { position: absolute; content: ''; width: 110px; height: 12px; background: #f7ae38; right: 0; top: 6px;}  
        }

    }

    .property-listing { background: #efefef;
        .txt-mid {
            > h3 { font-size: 24px; font-style: italic;}
        }

        ul.item_hldr > li .bx-shdw { background: #fff;}
    }

    .share-email { background: #fcbf0f; padding: 30px; margin-bottom: 8px;

        > li { width: 49%; display: inline-block; vertical-align: middle;
            img{ float: left;}
        }

        > li:first-child { 
            img { height: 28px; width: 29px; margin-right: 20px;}
        }

        > li:last-child{
            img { height: 28px; width: 40px; margin-right: 20px;}
        }

        h5 { font-family: 'brandon_grotesquebold'; text-transform: uppercase; font-size: 20px;  color: $black; padding-top: 3px;}

        a{ text-decoration: none;}
    }

    .calc-list { background: #6c7079; padding: 23px 18px; margin-bottom: 15px;
        > li { text-align: center; padding: 15px 0px; border: 2px solid #fff; margin-bottom: 18px; cursor: pointer; transition: 0.5s;
            a { font-size: 20px; font-family: 'brandon_grotesquebold'; color: $white; text-transform: uppercase; text-decoration: none; letter-spacing: 1px; }
        }

        li:hover { background: #a0a534;}
    }

    .cntct-msg { padding: 26px 20px; background: #efefef;

        h3  { font-family: $fonthead; font-size: 24px; color: $black; text-transform: uppercase; margin-bottom: 23px;}

        ul {
            > li { margin-bottom: 25px;
                > h6 { font-size: 18px; font-family: $fontmain; color: $black; margin-bottom: 15px;}

                input[type="text"] , input[type="email"] { font-family: $fontmain; width: 100%; height: 50px; padding: 0px 15px; font-size: 18px;}

                textarea{ width: 100%; resize: none; padding: 15px 15px; font-family: $fontmain; font-size: 18px; height: 208px;}

                input[type="submit"]{ padding: 10px 20px; background: #a0a534; text-transform: uppercase; color: $white; font-size: 19px; letter-spacing: 1px; transition: ease-in 0.3s; border: 2px solid #a0a534;}

                input[type="submit"]:hover { background: $white; boder: 2px solid #a0a534; color: #a0a534; }

            }

            li:last-child { margin-bottom: 0px;}
        }
    }

}




.pagination-cs{ width: 100%; text-align: center;
    > li { display: inline-block;
       > a { font-size: 20px; font-family: $fontmed; padding: 5px 15px; text-decoration: none; color: #575757; transition: ease-out 0.3s;}

       a:hover { background:#a0a534; color: $white;}
    }
}



.prop-details {
    
    .tab {
        overflow: hidden;
        background-color: #efefef;
        display: flex;
    }


    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 18px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 33%;
        font-family: $fonthead;
    }


    .tab button:hover {
        background-color: #bec249;
        color: $white;
    }


    .tab button.active {
        background-color: #bec249;
        color: $white;
    }


    .tabcontent { display: none; padding: 19px 28px; background: #f7f7f7;
         p { font-family: $fontmain; font-size: 18px; color: $black; }

        .p_mrgn { margin-bottom: 40px;}

        .tablist {  
            h4 { font-size: 18px; font-family: 'brandon_grotesquebold'; color: $black; margin-bottom: 10px;}
            > li { padding-left: 20px; 

            }
        }

        .tablist2 { margin-top: 40px; 
            h4 { font-size: 18px; font-family: $fontmain; color: $black; margin-bottom: 10px;}
            > li { padding-left: 20px; 

            }
        }

        article { width: 72%; float: left; }

        aside{ max-width: 210px; height: 280px; width: 100%; float: right; 
            img { width: 100%;}

        }
    }
}


.cur-selling { background:#a0a534;
    aside{ height: 110px; max-width: 180px; width: 100%; float: left; margin-top: -55px;
        img { height: 100%; object-fit: cover;}
    }

    .selling-list { padding-left: 215px; 
        li { display: inline-block; width: 19.5%; padding: 24px 0px; vertical-align: middle;

            span.ruler { background-image: url(../images/ruler-w.png); background-repeat: no-repeat; background-size: contain; font-family: $fontmain; color: #fff; font-size: 20px; padding-left: 50px;}

            span.bed {     background-image: url(../images/bed-w.png); background-repeat: no-repeat; background-size: 35px 20px; font-family: "brandon_grotesqueregular", Arial, sans-serif; background-position-y: 3px; color: #fff; font-size: 20px; padding-left: 56px;}

            span.tb { background-image: url(../images/hottub-w.png); background-repeat: no-repeat; background-size: 35px 20px; font-family: "brandon_grotesqueregular", Arial, sans-serif; background-position-y: 3px; color: #fff; font-size: 20px; padding-left: 56px;}

            span.garage { background-image: url(../images/home-w.png); background-repeat: no-repeat; background-size: 32px 22px; font-family: "brandon_grotesqueregular", Arial, sans-serif; background-position-y: 3px; color: #fff; font-size: 20px; padding-left: 56px;}
        }

        li:last-child { background: #bec249; text-align: center;
            span.lst-child {   font-family: 'brandon_grotesquebold';  font-size: 20px; color: $white; text-transform: uppercase;}
        }

    }
}



.about {
    .abt-banner { background-image: url(../images/prop-banner.jpg); background-size: cover; height: 70vh; position: relative;

       .hero { position: absolute; top: 55%; text-align: center; left: 50%;  transform: translate(-50%, -50%);

            > h3 { font-family: $fonthead; letter-spacing: 1px; font-size: 36px; color: $white; margin-bottom: 20px;}

            > p { font-family: $fontmain; color: $white; font-size: 18px;}  
        }  

    }

    .abt-cntent { padding: 50px 0px;
        .text-mid { text-align: center; max-width: 810px; margin: 0 auto; width: 100%; box-sizing: border-box; margin-bottom: 40px;
            h3 { font-family: 'brandon_grotesquebold'; font-size: 24px;     text-transform: uppercase; letter-spacing: 2px; margin-bottom: 15px;}

            p { font-family: $fontmain; font-size: 18px;}


        }

        .list-abt { 
            > li:nth-child(odd) {
                .clearfix {

                    > figure { width: 49%; float: left;}

                    >article { width: 49%; float: right;}
                } 
            }

            > li:nth-child(even) {
                .clearfix {

                    > figure { width: 49%; float: right;}

                    >article { width: 49%; float: left;}
                } 
            }

            li { margin-bottom: 25px;
                
                p { font-family: $fontmain; color: $black; letter-spacing: 1px; font-size: 18px;}

                article { padding: 15px; padding-top: 20px;}

                h5 { font-family: 'brandon_grotesquebold'; text-transform: uppercase; font-size: 20px; margin-bottom: 20px;}

                figure { position: relative; height: 350px; padding: 15px;
                    img { object-fit: cover; height: 100%; }
                }
               

            }
        }

    }

    .property-finder { position: absolute; top: 142px; width: 100%; z-index: 2;}
}


.buyers-guide{
    .buyrs { background-image: url(../images/prop-banner.jpg); height: 70vh;

        .hero { position: absolute; top: 55%; text-align: center; left: 50%;  transform: translate(-50%, -50%);

            > h3 { font-family: $fonthead; letter-spacing: 1px; font-size: 36px; color: $white; margin-bottom: 20px;}

            p { font-family: $fontmain; font-size: 18px; color: $white; letter-spacing: 1px;}
        }
    }

    .byr-content { padding: 50px 0px;
        ul { padding: 0px;

            li { width: 33%; display: inline-block; padding: 0px 15px; margin-bottom: 25px; cursor: pointer; vertical-align: text-top;

                article { padding: 15px; text-align: left;
                    h4 { font-family: 'brandon_grotesquebold'; text-transform: uppercase; font-size: 20px; margin-bottom: 15px; color: $green;}

                    p { font-family: $fontmain; font-size: 17px; color: $black;}
                }
            } 

            li:hover { > div { box-shadow: 0px 0px 20px #e8e8e8;} }
        }
    }

    .property-finder { position: absolute; top: 142px; width: 100%; z-index: 2;}
}



.agents-sc { 
    .agents-sec { background-image: url(../images/prop-banner.jpg); height: 70vh;

        .hero { position: absolute; top: 55%; text-align: center; left: 50%;  transform: translate(-50%, -50%);

            > h3 { font-family: $fonthead; letter-spacing: 1px; font-size: 36px; color: $white; margin-bottom: 20px;}

            p { font-family: $fontmain; font-size: 18px; color: $white; letter-spacing: 1px;}
        }
    }

    .agnts-cntent { padding: 40px 0px;
        ul { padding: 0px;
            li{ width: 19.5%; display: inline-block; padding: 0px 15px; margin-bottom: 35px; vertical-align: text-top;

                aside { max-width: 150px; height: 150px; width: 100%; margin: 0 auto; margin-top: 15px;
                    img { height: 100%; object-fit: contain;} 
                }

                article { text-align: center; padding: 0px 15px;
                    h5 a{ margin-top: 15px; font-family: 'brandon_grotesquebold'; font-size: 20px; color: $black; display: block; text-decoration: none;}

                    h6 { margin-top: 5px; font-family: $fontmain; font-size: 16px; margin-bottom: 15px;}
                }

            }

            li:hover {     box-shadow: 0px 0px 20px #e8e8e8;}

        }

    }

    .property-finder { position: absolute; top: 142px; width: 100%; z-index: 2;}
    
}










footer { position: relative; background-color: #373737; 
    > ul{ padding: 0; margin: 0; display: flex;

        > li{ display: inline-block; border-right: 1px solid #4b4b4b; padding: 20px 0px; vertical-align: text-top;} 

        > li:first-child { width: 50%; padding-right: 35px; padding-left: 50px;
        div { border-bottom: 1px solid #4b4b4b; padding-bottom: 15px; margin-bottom: 15px;
            figure { max-width: 175px; height: auto;
                 img { height: 100%; object-fit: cover;}
            }
        }
    }

        > li:nth-child(2) { width: 20%; padding: 35px 45px;
            > ul { padding: 0px;
                > li { margin-bottom: 5px; }
                a { font-family: $fontmain; font-size: 20px; color: $gray; text-decoration: none;}
            }
        }

        > li:nth-child(3) { width: 29%; padding: 35px 50px 35px 35px; border-right: 0px;
            h5 { font-family: $fontmain; font-weight: bold; color: $gray; font-size: 20px; text-transform: uppercase; }

            > div { margin: 15px 0px;
                > span { background:#a7a09a; font-size: 20px; padding: 10px 15px; border-radius: 50%; margin-right: 15px; 
                    a { color: $white;}
                }
            }

            span.yllow-text { color: $yellow; display: block; font-famiy: $fontmain; font-weight: bold;  }

            p > a { text-transform: uppercase; text-decoration: underline; color: $gray;}
        }

    }
    
    p{ font-family: $fontmain; color: $gray; font-size: 20px; }

    .right { background-color: #464646; text-align: center; padding: 22px;
        h5 {  font-family: $fontmain; color: $gray; text-transform: uppercase; font-size: 16px;}
    }
}





























.container-1440 { box-sizing: border-box; max-width: 1440px; padding: 0px 50px;}

.container-cs { box-sizing: border-box; max-width: 1440px; padding: 0px 25px; margin: 0 auto;}



